/* Account */

.account {
  margin: 0 auto;
  max-width: 100%;
  height: calc(100vh - 82px);
  display: flex;
  align-items: center;
  ul {
    overflow: initial;
    li {
      font-size: 1.2rem;
      color: var(--default--color);
      padding: 1rem 0;
      label {
        display: block;
        font-size: 1rem;
        color: var(--secondary--text);
        margin-bottom: 0.5rem;
      }
      label,
      a {
        font-weight: 700;
      }
      a {
        color: var(--secondary--text);
        text-decoration: none;
      }
      .active {
        position: relative;
        padding-left: 30px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 8px;
          border-radius: 100%;
          background-color: var(--success--color);
          display: inline-block;
          height: 16px;
          width: 16px;
        }
      }
      .expired {
        position: relative;
        padding-left: 30px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 8px;
          border-radius: 100%;
          background-color: var(--danger--color);
          display: inline-block;
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}
