.alert {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 5;
    padding: 1em;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1em;
  
    &.alert-error {
      background: rgba(255, 255, 255, 0.9);
      color: #000;
    }
  }
  