.back-button{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 2rem 2vw;
    transform: translateY(100%);
    background-color: var(--primary--background);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    // background: -webkit-linear-gradient(top, rgba(23, 28, 34, 0) 0%, #171c22 91%, #171c22 100%);
    // background: -webkit-gradient(
    //   linear,
    //   left top,
    //   left bottom,
    //   from(rgba(23, 28, 34, 0)),
    //   color-stop(91%, #171c22),
    //   to(#171c22)
    // );
    // background: -o-linear-gradient(top, rgba(23, 28, 34, 0) 0%, #171c22 91%, #171c22 100%);
    // background: linear-gradient(to bottom, rgba(23, 28, 34, 0) 0%, #171c22 91%, #171c22 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00171c22', endColorstr='#171c22', GradientType=0);

    button {
        font-size: 1.2rem;
        color: var(--secondary--text);
        
        background: transparent;
        border: 0;
        letter-spacing: .05rem;
        transition: letter-spacing .5s linear;
        > svg {
            fill: currentColor;
            margin-right: 2rem;
        }
        &:hover{
            letter-spacing: .15rem;
        }
    }

}