.live__metadata {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0;
  progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &[value] {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      height: 0.5rem;
    }
    &::-webkit-progress-bar {
      background-color: var(--nav-item-color);
    }
    &::-webkit-progress-value {
      background: var(--primary--color);
    }
  }
  &--item {
    width: 100%;
    position: relative;
    &__details {
      display: grid;
      grid-template-columns: 80% 20%;
      margin: 1rem;
      > div {
        display: flex;
        align-items: center;
        overflow: hidden;
        time {
          width: 60px;
          min-width: 60px;
          font-family: Proximus bold, Arial, sans-serif;
          font-weight: 700;
          color: var(--default--color);
          font-size: 1rem;
          display: inline-block;
          + time {
            color: var(--secondary--text);
            font-size: 0.9rem;
          }
        }
        .title {
          font-family: Proximus bold, Arial, sans-serif;
          font-weight: 700;
          color: var(--default--color);
          text-align: start;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 1.2rem;
          margin: 0;
        }

        .btn {
          margin: 0;
          padding: 0.5rem 1rem;
          font-size: 1rem;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

     
      }
    }
    &__description {
     
      height: 0;
      overflow: hidden;
      font-size: 1rem;
      line-height: 1.5;
      &.showing {
        padding: 1rem;
        height: auto;
      }
    }
  }
}
