.live {
  @media screen and(min-width:769px) {
    height: calc(100vh - 25px);
  }
  @media screen and(min-width:1024px) {
    height: calc(100vh - 82px);
  }
  display: flex;
  align-items: center;
  margin: 0 auto;

  .section {
    &-main {
      transform: none;
      opacity: 1;
      align-self: start;
    }
    &-side {
      @media screen and(max-width:768px) {
        height: calc(100vh - 82px - 297px);
      }
    }
  }

  &-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    padding-bottom: 3rem;
    transform: translateY(50px);
    .item {
      height: 200px;
      width: -webkit-calc(100% / 2 - 48px);
      width: calc(100% / 2 - 48px);
      margin: 12px 24px;
      position: relative;
      padding-bottom: 25px;
      text-align: center;
      outline: 0;
      transition: transform 0.2s ease;

      > div {
        height: 100%;
        width: 100%;
      }

      .loading-image {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        .spin:empty {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 2em;
          height: 2em;
          border: 0.2em solid rgba(0, 0, 0, 0.2);
          border-left: 0.2em solid #fff;
          border-radius: 50%;
          animation: loading 1.1s infinite linear;
        }
      }

      .preview {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        canvas,
        video {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 100%;
          width: 100%;
          transform: translate(-50%, -50%);
          background: black;
          border-radius: 10px;
        }
        .badge {
          background-color: var(--primary--color);
          color: white;
          font-size: 0.6rem;
          position: absolute;
          right: 1rem;
          bottom: 1rem;
          padding: 0 8px;
          height: 16px;
          line-height: 16px;
          border-radius: 2px;
          transition: opacity 0.5s ease-in-out;
        }
        &:hover {
          .badge {
            opacity: 0.4;
          }
        }
      }

      .details {
        padding: 1em 0;
        h4 {
          font-size: 1.5em;
          font-weight: bold;
          margin: 0;
          line-height: 1;
          color: #fff;
          text-shadow: 0 0.5px 1px #000;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &:hover {
        z-index: 999;
        transform: scale(1.05);
        cursor: pointer;
      }
    }
    @media screen and (min-width: 786px) {
      div.item {
        width: -webkit-calc(100% / 3 - 48px);
        width: calc(100% / 3 - 48px);
      }
    }

    @media screen and (min-width: 1200px) {
      div.item {
        width: -webkit-calc(100% / 4 - 48px);
        width: calc(100% / 4 - 48px);
      }
    }
  }

  &--player {
    width: 100%;
    &__container {
      width: 100%;
      position: relative;
    }
    &__channel {
      height: 4rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      padding: 1rem 2vw;
      
      display: flex;
      justify-content: space-between;

      .btn {
        color: var(--secondary--text);
        text-transform: capitalize;
        font-weight: normal;
      }
    }
    &__name {
      margin: 0;
      color: var(--secondary--text);
      font-size: 1.2rem;
      @media screen and(min-width:769px) {
        font-size: 1.5rem;
      }
      font-weight: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .video-player {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 1);
      video {
        background: rgba(0, 0, 0, 1);
        &:hover {
          cursor: pointer;
        }
      }

      &__mask {
        height: 0;
        width: 0;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 999;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 1);
        clip-path: circle(50% at 50% 50%);
        transition: clip-path 0.5s ease-out, opacity 0.5s 0.5s ease-out;
        pointer-events: none;
      }

      &.is-fullscreen {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        z-index: 100;
        transform: translate(-50%, -50%);

        video {
          border-radius: 0px;
        }

        .video-player__mask {
          height: 100%;
          width: 100%;
          clip-path: circle(100% at 50% 50%);
          opacity: 0;
        }
      }

      .video-controls {
        > div {
          padding: 0;
        }
        &-elements__info {
          grid-template-columns: 100%;
        }
      }
    }
  }

  .categories {
    .playing {
      position: relative;
      span {
        color: var(--default--color);
      }
      &:after {
        content: "";
        position: absolute;
        top: calc(50% - 5px);
        left: 0.5rem;
        display: inline-block;
        height: 10px;
        width: 10px;
        background-color: var(--success--color);
        border-radius: 50%;
        animation: pulse 2s linear infinite;
      }
    }
  }
}
