.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary--background);
    z-index: -1;
    .icon:empty {
      position: absolute;
      top: calc(50% - 4em);
      left: calc(50% - 4em);
      width: 6em;
      height: 6em;
      border: .1em solid rgba(0, 0, 0, 0.2);
      border-left: .1em solid #fff;
      border-radius: 50%;
      animation: loading 1.1s infinite linear;
    }
  }