/***** LOGIN *****/

.login {
    height: 100vh;
    width: 100vw;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .error_message {
      color: red;
      font-size: 1em;
      padding-bottom: 1em;
    }
    form {
      .form-group {
        margin-bottom: 10px;
        .form-control {
          height: 46px;
          width: 100%;
          max-width: 450px;
          padding: 0 4em 0 1em;
          border: none;
          font-size: 1.2em;
          border: 0;
          border-bottom: 1px;
          border-style: solid;
          border-color: #313133;
          color: #fff;
          font-weight: 300;
          text-transform: none;
          outline: 0;
          background: transparent;
        }
        .btn {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
  
  .logo-login {
    width: 200px;
    height: 100px;
    display: block;
    background: url("/img/logo.svg") no-repeat center;
    background-size: 150px;
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }