.message {
  text-align: center;
  color: var(--secondary--text);
  font-size: 1.3rem;
  margin: 0 auto;
  max-width: 40rem;

  a{
      color: var(--default--color);
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
  }

}