.movies {
  margin: 0 auto;
  max-width: 80rem;
  height: calc((100vh - 82px) - 88px);
  display: flex;
  align-items: center;
}

.items {
  height: calc(100vh - 145px);
  width: 100%;
  position: relative;
 
  &-list {
    padding-top: 50px;
    &-row {
      width: 100%;
      .item {
        display: inline-block;
        height: calc(100% - 24px);
        width: -webkit-calc(100% / 2 - 48px);
        width: calc(100% / 2 - 48px);
        margin: 12px 24px;
        position: relative;
        text-align: center;
        transition: transform 0.2s ease;

        .loading-image {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.5);
          border-radius: 10px;
          .spin:empty {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 2em;
            height: 2em;
            border: 0.2em solid rgba(0, 0, 0, 0.2);
            border-left: 0.2em solid #fff;
            border-radius: 50%;
            animation: loading 1.1s infinite linear;
          }
        }

        .featured-image {
          height: calc(100% - 49px);
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 10px;
          position: relative;
        }

        .details {
          padding: 1em 0;
          h4 {
            font-size: 1.5em;
            font-weight: bold;
            margin: 0;
            line-height: 1;
            color: #fff;
            text-shadow: 0 0.5px 1px #000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &:hover {
          background-position: center top;
          z-index: 999;
          transform: scale(1.05);
          cursor: pointer;
        }

        @media screen and (min-width: 786px) {
          width: -webkit-calc(100% / 6 - 48px);
          width: calc(100% / 6 - 48px);
        }

        @media screen and (min-width: 1200px) {
          width: -webkit-calc(100% / 6 - 48px);
          width: calc(100% / 6 - 48px);
        }
      }
      &-active {
        .item {
          opacity: 1;
        }
      }
    }
  }
}
