.pagination {
    list-style: none;
    margin: 2em 0;
    padding: 0;
    text-align: center;
    > div,
    > li {
      display: inline-block;
      margin: 0 0.5em;
      color: var(--secondary--text);
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      &:active,
      &.active {
        background: #fff;
        color: #000;
      }
      &:hover,
      &.focus {
        background: var(--secondary--text);
        color: #000;
      }
      a {
        text-decoration: none;
        color: inherit;
        padding: 1em;
        display: block;
      }
    }
  }