.video {
  &-player {
    position: relative;
    overflow: hidden;
    .user-in-pause {
      .video-controls-options {
        transform: translateY(-100%);
      }
      .video-controls-elements {
        transform: translateY(100%);
      }
      background: transparent;
    }

    .video-description {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 2vh 2vh 8em;
      visibility: hidden;
      opacity: 0;

      background: -webkit-linear-gradient(top, rgba(23, 28, 34, 0) 0%, #171c22 91%, #171c22 100%);
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(23, 28, 34, 0)),
        color-stop(91%, #171c22),
        to(#171c22)
      );
      background: -o-linear-gradient(top, rgba(23, 28, 34, 0) 0%, #171c22 91%, #171c22 100%);
      background: linear-gradient(to bottom, rgba(23, 28, 34, 0) 0%, #171c22 91%, #171c22 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00171c22', endColorstr='#171c22', GradientType=0);

      > div {
        .title {
          .channel-name {
            font-size: 5em;
            font-weight: bold;
            margin: 0.2em 0;
            display: block;
          }
          span,
          time {
            font-weight: normal;
            font-size: 2em;
            display: block;
          }
        }

        .description {
          font-weight: normal;
          font-size: 1.8em;
          line-height: 1.5;
          display: block;
        }
      }
    }

    .video-description {
      visibility: visible;
      opacity: 1;
      -webkit-transition: visibility 0.1s, opacity 0.1s;
      -moz-transition: visibility 0.1s, opacity 0.1s;
      -o-transition: visibility 0.1s, opacity 0.1s;
      transition: visibility 0.1s, opacity 0.1s;
    }
  }

  &-controls {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background 0.95s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(23, 28, 34, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      rgba(125, 185, 232, 0) 0%,
      rgba(23, 28, 34, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      rgba(125, 185, 232, 0) 0%,
      rgba(23, 28, 34, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#171c22',GradientType=0 ); /* IE6-9 */

    > div {
      padding: 2rem;
    }

    &-elements,
    &-options {
      display: flex;
      align-items: center;
      transition: transform 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
      > div {
        + div {
          margin-left: 3rem;
        }
      }
    }

    &-elements {
      &__info {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        gap: 3rem;
        color: white;
        font-size: 1.2rem;
        > div {
          display: flex;
          align-items: center;
          flex: 1;
          progress {
            width: 100%;
          }
        }
      }
    }
  }

  &-button {
    height: 4em;
    width: 4em;
    display: block;
    cursor: pointer;
    opacity: 1;
    border: 0;
    background-color: transparentize($color: #000000, $amount: 0);
    transition: all 0.4s;
    &:hover {
      background-color: transparent;
      transform: scale(1.5);
    }
    &-play {
      background: url(/img/play-button.svg) no-repeat center center;
      background-size: 1.5em;
    }
    &-pause {
      background: url(/img/pause-button.svg) no-repeat center center;
      background-size: 1.5em;
    }
    &-fullscreen {
      background: url(/img/arrows-expand.svg) no-repeat center center;
      background-size: 1.5em;
    }
    &-schedule {
      background: url(/img/list.svg) no-repeat center center;
      background-size: 1.5em;
    }
    &-info {
      background: url(/img/info.svg) no-repeat center center;
      background-size: 1.5em;
    }
    &-go-back {
      background: url(/img/left-arrow.svg) no-repeat center center;
      background-size: 1.5em;
    }
  }
}