.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 2vw;
  height: 4rem;
  border-bottom: 1px solid rgba(0,0,0,.5);
  svg {
    fill: var(--secondary--text);
  }
  input[type="search"] {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    color: var(--secondary--text);
    background: transparent;
    border: 0;
    font-size: 1.5rem;
    font-weight: 100;
    &::placeholder{
      color: var(--secondary--text);
    }
  }
}

.section-side {
  .search {
    padding: 0.5em 3em;
  }
}
