.seasons {
  transform: translateY(50px);
  opacity: 0;
  &-title {
    font-size: 2rem;
    color: white;
    margin: 0 0 1rem 0;
  }
  &-tab {
    &__items {
      display: flex;
      align-items: flex-start;
      flex-wrap: nowrap;
      overflow-x: auto;
      scroll-snap-type: y mandatory;
    }
    &__item {
      background: none;
      border: 0;
      padding: 1rem 0;
      color: var(--secondary--text);
      font-size: 1rem;
      transition: color 0.5s linear;
      white-space: nowrap;

      scroll-margin: 10px;
      scroll-snap-align: start;
      scroll-snap-stop: normal;

      + button {
        margin-left: 1rem;
      }
      &.active,
      &:hover {
        font-weight: bold;
        color: white;
        border-bottom: 1px solid var(--primary--color);
      }
    }
    &__content {
      &--item {
        display: none;
        > div {
          display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          margin-top: 1rem;
          -ms-overflow-style: none;
          &::-webkit-scrollbar,
          &::-moz-scrollbar {
            display: none;
          }
        }
        &.active {
          display: block;
        }
        &:hover .episode {
          opacity: 0.5;
          -webkit-transition: opacity 0.5s linear;
          transition: opacity 0.5s linear;
        }
      }
    }
  }

  .episode {
    min-width: calc(100% / 2 - 10px);
    @media screen and(min-width:769px) {
      min-width: calc(100% / 5 - 10px);
    }
    height: 144px;
    position: relative;
    display: inline-block;
    background-color: black;
    border-radius: 5px;

    scroll-margin: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    transition: all 0.5s linear;
    
    &:last-child {
      margin-right: 20px;
    }

    img {
      width: 100%;
      transition: opacity 0.5s linear;
      opacity: 0.4;
    }

    + .episode {
      margin-left: 1rem;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .episode-num {
      width: 100%;
      padding: 1rem;
      position: absolute;
      left: 0;
      bottom: 0;
      color: var(--secondary--text);
      font-size: .9rem;
      background: var(--black);
      background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(255,255,255,0) 100%);
    }

    &:hover {
      cursor: pointer;
      opacity: 1;

      .episode-num {
        color: var(--default--color);
      }
    }
  }
}

// .episode:hover > .episode {
//   opacity: 0.5;
// }
