.channel {
  &-schedule {
    @media screen and(min-width:769px){
      padding: 2rem;
    }
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary--background);
    overflow: auto;
    color: var(--secondary--text);
    z-index: 15;
    @media screen and (min-width: 769px) {
      padding: qrem;
    }
    &.hidden {
      transform: translateX(-100%);
      transition: transform 0.25s linear;
    }
    &.showing {
      transform: translateX(0%);
      transition: transform 0.25s linear;
    }

    .tab {
      &-list {
        margin: 0;
        padding: .5rem;
        @media screen and(min-width:769px){
          padding: 1rem;
        }
        list-style: none;
        display: flex;
        align-items: center;
        position: sticky;
        top: -2rem;
        background: var(--primary--background);
        z-index: 1;
        overflow: auto;
        &__item {
          padding: 0.7rem 1rem;
          border-radius: 1rem;
          transition: all 0.95s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          &:hover,
          &.active {
            background-color: var(--primary--color);
            color: var(--default--color);
            cursor: pointer;
          }
          + .tab-list__item {
            margin-left: 1rem;
          }
        }
      }
      &-container {
        padding: .5rem 0;
        @media screen and(min-width:769px){
          padding: 2rem 0;
        }
      }
    }

    .epg-data {
      display: flex;
      align-items: center;

      border-bottom: 1px solid var(--secondary--text);
      flex-flow: wrap;
      transition: background 0.2s linear;
      > div {
        flex: 5;
        &:hover{
          color: var(--primary--background);
          background-color: var(--default--color);
        }
      }
      &.now_playing {
        time:first-child {
          &:before {
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            border-radius: 100%;
            background-color: var(--success--color);
            display: inline-block;
            height: 8px;
            width: 8px;
            animation: pulse 0.5s linear infinite;
          }
        }
      }
      .epg-content {
        display: flex;
        align-items: center;
        flex: 10;
        padding: 15px 0;
        time {
          font-size: 1rem;
          width: 80px;
          padding: 0 1em;
          color: #545559;
          text-align: right;
          display: inline-block;
          font-weight: bold;
          position: relative;
          &.end {
            font-size: 1rem;
          }
        }
        &__item {
          padding: 0 1em;
          width: 100%;
          h3 {
            font-size: 1rem;
            margin: 0;
            &:hover{
              cursor: pointer;
            }
          }
          .description {
            display: none;
            line-height: 1.3;
            margin-top: 1rem;
            &.showing{
              display: block;
            }
          }
        }
      }

      .replay {
        transition: transform 0.2s linear;
        height: 24px;
        flex: 1;
        padding: 0 1em;
        text-align: center;
        background: none;
        border: none;
        svg {
          fill: currentColor;
        }
        &:hover {
          cursor: pointer;
          animation: rewind 1s linear infinite;
          background-color: transparent;
        }
      }
    }
  }
}
