.vod-info {
  margin: 0 auto;
  width: 100%;
  padding: 0 3vw 6rem;
  max-width: 80rem;
  .description {
    display: grid;
    grid-template-columns: 100%;
    @media screen and(min-width:769px) {
      grid-template-columns: 2fr 1fr;
    }
    grid-gap: 2rem;
    margin-top: -7rem;

    .more-info {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 2rem;
    }
    .info {
      transform: translateY(50px);
      opacity: 0;
      @media screen and(max-width:768px) {
        grid-row: 2;
      }
      ul {
        text-align: right;
        list-style: none;
        margin-top: 3rem;
        li {
          + li {
            margin-top: 1rem;
          }
          label {
            display: block;
            color: var(--secondary--text);
            font-size: .7rem;
            @media screen and(min-width:768px) {
              font-size: 1rem;
            }
          }
          span {
            display: block;
            color: var(--default--color);
            font-size: .8rem;
            @media screen and(min-width:768px) {
              font-size: 1.1rem;
            }
            margin-top: 0.5rem;
          }
        }
      }
      .imdb-logo {
        background: url(/img/IMDB_Logo.svg) no-repeat center;
        background-size: 50px;
        text-indent: -9999px;
        width: 50px;
      }
    }

    .plot {
      transform: translateY(50px);
      opacity: 0;
      @media screen and(max-width:768px) {
        grid-row: 2;
      }
      .title {
        color: var(--default--color);
        font-size: 1.5rem;
      }
      .plot-text {
        color: var(--default--color);
        font-size: .9rem;
        @media screen and(min-width:768px) {
          font-size: 1.1rem;
        }
        font-weight: normal;
        letter-spacing: 0.01rem;
        line-height: 1.5;
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        -moz-box-orient: vertical;
        -moz-line-clamp: 10;
        overflow: hidden;
      }
    }

    .cover {
      transform: translateY(50px);
      opacity: 0;
      @media screen and(max-width:768px) {
        grid-row: 1;
        padding: 0 3rem;
      }
      img {
        @media screen and(max-width:768px) {
          width: 100%;
        }
        max-width: 100%;
        max-height: 300px;
        border-radius: 10px;
      }
    }
  }

  .video-player {
   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 999;
    overflow: hidden;
    background-color: black;
    transition: clip-path 0.5s ease-out;

    progress {
      width: 100%;
      position: relative;
      &[value] {
        -webkit-appearance: none;
        appearance: none;
        border: none;
        height: 0.5rem;
      }
      &::-webkit-progress-bar {
        background-color: var(--nav-item-color);
      }
      &::-webkit-progress-value {
        background: var(--primary--color);
      }
      &:hover{
        cursor: pointer;
      }
      &:after{
        content: "";
        display: inline-block;
        position: absolute;
        top:-20px;
        left: var(--cursorX);
        height: 20px;
        width: 100px;
        transform: translateX(-50%);
        display: none;
      }
    }

    &.showing {
      height: 100%;
      width: 100%;
      clip-path: circle(100% at 50% 50%);
    }

    &.hidding {
      height: 0;
      width: 0;
      clip-path: circle(50% at 50% 50%);
    }

    .react-player {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translateX(-50%) translateY(-50%);
      transition: 1s opacity;
    }
  }
}
