body {
  background-color: var(--primary--background);
  font-family: var(--primary--font--family);
  font-size: 14px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
}

::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

* {
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

ul {
  padding: 0;
}

.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.page-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 1rem 3vw;
  background-color: var(--primary--background);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header {
    nav {
      > div {
        width: 100%;
      }
    }

    > div {
      display: flex;
      > div {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
      }
      a,
      button {
        border: 0;
        text-decoration: none;
        padding: 0;
        &.user-info {
          color: var(--white);
          background: var(--secondary--text);
          height: 2rem;
          width: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          font-size: 1rem;
          text-transform: uppercase;
          + .user-info {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }

  .logo {
    width: 100px;
    height: 50px;
    background: url("/img/logo.svg") no-repeat center center;
    background-size: 100px;
    display: inline-block;
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  @media screen and (min-width: 769px) {
    .logo {
      display: block;
    }
  }

  .main-nav {
    @media screen and (max-width: 769px) {
      width: 100%;
      height: calc(100vh - 83px);
      position: fixed;
      top: 83px;
      left: 0;
      background: var(--primary--background);
      transform: translateX(-100%);
      opacity: 0;
    }

    .menu {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @media screen and (min-width: 769px) {
        flex-direction: row;
      }
      position: relative;
      flex: 2;
      list-style: none;
      color: var(--nav-item-color);
      padding: 0;

      > li {
        width: 100%;
        padding: 0.5rem;
        text-align: center;
        opacity: 0;
        transform: translateY(40px);
        display: inline-block;
        @media screen and (min-width: 769px) {
          padding: 0 1rem;
          opacity: 1;
          transform: translateY(0);
        }
        > a {
          color: var(--nav-item-color);
          text-decoration: none;
          font-weight: lighter;
          font-size: 1.8rem;
          transition: color 0.5s linear;
          @media screen and (min-width: 769px) {
            font-size: 1.2rem;
          }
          &.active,
          &:hover {
            color: white;
          }
          &.active {
            font-weight: bold;
          }
        }
      }
    }

    &.showing {
      height: calc(100vh - 83px);
      width: 100%;
      position: fixed;
      top: 83px;
      left: 0;
      background: var(--primary--background);
    }
  }

  .menu-icon {
    border: 0;
    background: none;
    color: var(--nav-item-color);
    font-size: 2rem;
    @media screen and (min-width: 769px) {
      display: none;
    }
    svg {
      fill: currentColor;
    }
  }
}

.page-content {
  position: relative;
  background-color: var(--primary--background);
}

main {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 82px 0 0;
}

.section {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  @media screen and (min-width: 769px) {
    grid-template-columns: 70% 30%;
  }
  overflow: hidden;
  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(40px);
    opacity: 0;
    &__title {
      color: var(--white);
      font-size: 1.5rem;
      @media screen and (min-width: 769px) {
        font-size: 5rem;
      }
    }
  }
  &-side {
    height: calc((100vh - 82px) - 59px);
    @media screen and (min-width: 769px) {
      height: calc(100vh - 82px);
    }
    display: flex;
    flex-direction: column;
    background-color: var(--primary--background);
    @media screen and (min-width: 769px) {
      border-left: 1px solid rgba(0, 0, 0, 1);
    }
    transform: translateX(20px);
    opacity: 0;
    &.right {
      border-left: 0;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

    &::-webkit-scrollbar,
    &::-moz-scrollbar {
      display: none;
    }

    ul {
      max-height: 100%;
      overflow: scroll;
      scroll-snap-type: y mandatory;
      list-style: none;
      padding: 0 1rem 1rem;

      @media screen and (min-width: 769px) {
        padding: 0 1rem 1rem;
      }

      @media screen and (min-width: 1024px) {
        padding: 0 3rem 3rem;
      }

      li {
        scroll-margin: 10px;
        scroll-snap-align: start;
        scroll-snap-stop: normal;
      }

      &.categories {
        li {
          a,
          span {
            display: flex;
            align-items: center;
            padding: 1rem 2rem;
            color: var(--secondary--text);
            font-size: 1rem;
            text-decoration: none;
            text-transform: capitalize;
            white-space: nowrap;
            transition: all 0.5s;
            border-radius: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
              cursor: pointer;
              background-color: var(--white);
              color: #020d18;
            }

            .icon {
              // background-color: var(--white);
              padding: .2rem;
              border-radius: 5px;
              display: inline-block;
              height: 30px;
              width: 60px;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
  &-title {
    width: 100%;
    opacity: 0;
    @media screen and (min-width: 769px) {
      height: 10rem;
    }
    span {
      color: var(--secondary--text);
      font-size: 10rem;
      font-weight: bold;
      margin: 0;
      display: block;
      white-space: nowrap;
      overflow: hidden;
    }
    .close {
      transition: transform 0.2s linear;
      height: 16px;
      &:hover {
        cursor: pointer;
        transition: transform 0.2s linear;
        transform: rotate(90deg);
      }
    }
  }
}

.top-bar {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  position: relative;
  flex: 3;
  .top-search {
    margin-left: 0.5em;
    input {
      height: 46px;
      width: 100%;
      max-width: 450px;
      padding: 0 4em 0 1em;
      border: none;
      font-size: 14px;
      color: #fff;
      font-weight: 300;
      text-transform: none;
      background: url(/img/topsearch.png) #313133 no-repeat right 20px center;
      outline: 0;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
    }
    button {
      height: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: url(/img/drop-icon.png) no-repeat right 20px center;
      text-transform: uppercase;
      color: #ffffff;
      border: none;
      border-right: 1px solid #020d18;
      background-color: #233a50 !important;
      font-size: 1em;
      color: #fff;
      font-weight: 300;
      text-transform: none;
      text-align: left;
      padding: 1em;
      outline: 0;
      &.close {
        background: url(/img/drop-icon.png) no-repeat right 20px center;
      }
    }
  }
  .playlist-content {
    height: 46px;
    flex: 2;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border-right: 1px solid #020d18;
    .search-content {
      display: flex;
      align-items: center;
    }
  }
  .categories-content {
    height: 46px;
    flex: 2;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border-right: 1px solid #020d18;
  }
  > div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 47px;
    left: 0;
    z-index: 1;
    > div {
      background-color: #313133;
      color: #abb7c4;
      font-weight: 300;
      height: 46px;
      line-height: 46px;
      border-bottom: 1px solid #414141;
      text-align: left;
      padding: 0 1em;
      font-weight: 300;
      text-transform: lowercase;
      letter-spacing: 1px;
      transition: all 0.3 linear;
      animation: showing 0.3s linear;
      a {
        display: block;
        text-decoration: none;
        color: inherit;
        font-weight: inherit;
      }
      &:first-letter {
        text-transform: uppercase;
      }
      &:hover {
        transition: background 0.3 linear;
        background-color: #414141;
        cursor: pointer;
      }
    }
  }
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #313133;
  color: var(--secondary--text);
  position: absolute;
  padding: 2px 6px 3px 6px;
  bottom: -1.9em;
  left: 0%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border-radius: 5px;
  z-index: 99999;
  visibility: hidden;
}

[data-title] {
  position: relative;
}

.dropdown-menu {
  &-list {
    position: relative;
  }

  &-content {
    position: absolute;
    top: 1em;
    right: 0;
    min-width: 300px;
    background-color: #fff;
    padding: 1em;
    border-radius: 0.5em;
  }

  &-header {
    border-bottom: 1px solid #ccc;
  }

  ul {
    list-style: none;
    padding: 0;
    > li {
      display: block;
      margin-bottom: 1em;
      border-bottom: 1px solid #f1f1f1;
    }
  }
}
