.btn{
	display: inline-flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    background: transparent;
    padding: .75rem 2rem;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5;
    border-radius: 5px;

	text-decoration: none;
	
	> svg {
		margin-right: 1rem;
	}


	&-primary{
		color: #fff;
	    background-color: var(--button-primary--background);
	    border-color: var(--button-primary--border--color);
	    -webkit-transition: all .25s linear;
	       -moz-transition: all .25s linear;
	        -ms-transition: all .25s linear;
	         -o-transition: all .25s linear;
	            transition: all .25s linear;
	    &:hover{
	    	background-color: var(--button-primary--background--hover);
	    	border-color: var(--button-primary--background--color--hover);
	    	-webkit-transition: all .25s linear;
	       	   -moz-transition: all .25s linear;
	            -ms-transition: all .25s linear;
	             -o-transition: all .25s linear;
	                transition: all .25s linear;
	    }
	}

	&-warning{
		color: #fff;
		background-color: var(--button-warning--border--color);
	    border-color: var(--button-warning--border--color);
	}

	&-outline{
		background-color: transparent;
	}

	&-block{
		width: 100%;
	}
	&-link{
		padding: 0;
		&:hover{
			text-decoration: underline;
		}
	}

	img{
		vertical-align: middle;
	}

	.button-icon{
		padding: 0 12px 0 6px;
		margin-right: 10px;
		&.info{
			 background: url(/img/menu.svg) no-repeat center;
			 background-size: 15px;
		}
		&.fullscreen{
			 background: url(/img/arrows-expand.svg) no-repeat center;
			 background-size: 15px;
		}
		&.go-back{
			&.open{
				img{
					-webkit-transform: rotate(-180deg);
					   -moz-transform: rotate(-180deg);
					    -ms-transform: rotate(-180deg);
					     -o-transform: rotate(-180deg);
					        transform: rotate(-180deg);
				}
			}
		}

	}

}

.btn-group{
	margin-top: 3rem;
	> *{
		display: inline-block;
		&:not(:first-child){
			margin-left: 1em
		}
		
	}
}


button.video-button,
.user-info button{
	position: relative;

	&::before{
		content: attr(alt);
	    position: absolute;
	    top: 0;
	    right: 50%;
	    background: rgba(0,0,0,.5);
	    color: #fff;
	    padding: 1em;
	    transform: translate(50%,-80%);
	    white-space: nowrap;
	    border-radius: 10px;
	    font-weight: bold;
	    letter-spacing: .5px;
	    opacity: 0;
	    visibility:hidden;
	    //
	    -webkit-transition: all .25s linear;
	       -moz-transition: all .25s linear;
	        -ms-transition: all .25s linear;
	         -o-transition: all .25s linear;
	            transition: all .25s linear;
	}

	&:hover::before{
		top: -50%;
		opacity: 1;
	    visibility:visible;
		 -webkit-transition: all .25s linear;
	       -moz-transition: all .25s linear;
	        -ms-transition: all .25s linear;
	         -o-transition: all .25s linear;
	            transition: all .25s linear;
	}

	&[alt=""]:hover::before, &:not([alt]):hover::before {
    	content: none;
	}
}


.button{
	&-go-back{
		height: 4em;
		width: 4em;
		display: block;
		cursor: pointer;
		opacity: 1;
		border: 2px solid #fff;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-o-transition: all 0.4s;
		transition: all 0.4s;
		background: url(/img/left-arrow.svg) no-repeat center center;
		background-size: 1.5em;
		&:hover{
			background-color: rgba(0, 0, 0, 0.7);
		}
    }
}