@font-face {
	font-family: "Proxima Nova";
	src: url("/fonts/proximanova/proximanova-bold-webfont-webfont.eot?") format("eot"),
		 url("/fonts/proximanova/proximanova-bold-webfont-webfont.woff") format("woff"),
		 url("/fonts/proximanova/proximanova-bold-webfont-webfont.ttf") format("truetype"),
		 url("/fonts/proximanova/proximanova-bold-webfont-webfont.svg#proximanova-regular-webfont-webfont") format("svg");
	font-weight: bold;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("/fonts/proximanova/proximanova-light-webfont-webfont.eot?") format("eot"),
		 url("/fonts/proximanova/proximanova-light-webfont-webfont.woff") format("woff"),
		 url("/fonts/proximanova/proximanova-light-webfont-webfont.ttf") format("truetype"),
		 url("/fonts/proximanova/proximanova-light-webfont-webfont.svg#proximanova-light-webfont-webfont") format("svg");
	font-weight: lighter;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("/fonts/proximanova/proximanova-regular-webfont-webfont.eot?") format("eot"),
		 url("/fonts/proximanova/proximanova-regular-webfont-webfont.woff") format("woff"),
		 url("/fonts/proximanova/proximanova-regular-webfont-webfont.ttf") format("truetype"),
		 url("/fonts/proximanova/proximanova-regular-webfont-webfont.svg#proximanova-regular-webfont-webfont") format("svg");
	font-weight: regular;
}