:root {
    --body-background: #171c22;
    --nav-background: #171c22;
    --nav-item-color: #829196;
    --nav-item-color--background: #829196;
    --button-primary--background: #ec1650;
    --button-primary--border--color: #ec1650;
    --button-warning--border--color: #f5b307;
    --button-primary--background--hover: #829196;
    --button-primary--background--color--hover: #829196;
  
    --secondary--text: #829196;
    --default--text: #fff;
    --message--background: #ec1650;
    
    --primary--background: #171c22;
    --primary--color: #ec1650;
    --primary--font--family: "Proxima Nova", sans-serif;
    --success--color: #54ca28;
    --warning--color: #f5b307;
    --danger--color: #c04650;
    --default--color: #fff;
    --white: #fff;
  }